/* Carousel.scss */
.carousel {
  position: relative;
  width: 1000px; /* Đặt chiều rộng cố định cho carousel */
  margin: 0 auto; /* Căn giữa carousel */

  .carousel-inner {
    display: flex;
    width: 1000px; /* Đặt chiều rộng cố định cho carousel-inner */
    height: 400px; /* Đặt chiều cao cố định cho carousel-inner */
  }
  
  .carousel-item {
    margin-top: 30px;
    transition: transform 0.6s ease;
    height: 400px; 
  }
  
  .carousel-item img {
    width: 1000px; /* Đặt chiều rộng cố định cho ảnh */
    height: 400px; /* Đặt chiều cao cố định cho ảnh */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  .carousel-indicators button {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-indicators .active {
    background-color: #000;
  }
}
